<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/stylesheet.css" type="text/css">
    </head>
    <body>
         <!-- Header -->
        <header>
            <!-- Nav bar -->
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="index.html">TRIVIA</a>
                </div>
                <ul class="nav navbar-nav">
                  </li>
                  <li><a href="speelpagina.html">Speel</a></li>
                  <li><a href="scorelijst.html">Scorelijst</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="regels.html">Regels</a></li>
                  <li><a href="login.html">Login</a></li>
                </ul>
              </div>
            </nav>
            <div class="scorebalk" style="width: 18rem;" >
              <div class="card-body">
                Benieuwd hoe het gaat?
                Check je categorie kennis!
              </div>
            </div>

            <div class="list-group">

              <a href="#" class="list-group-item list-group-item-action">Categorie 1</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-success">Categorie 2</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Categorie 3</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Categorie 4</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-info">Categorie 5</a>

            </div>



        </main>
        <!-- Footer -->
        <footer>
          <div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #4A4A4A;">
            <div class="container">
              <a href="facebook.com" class="navbar-btn btn-facebook pull-right">
              <span class=""></span> Follow us on Facebook</a>
            </div>
        </footer>
    </body>
</html>