{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}


{% block main %}
    <form action="{{ url_for('account') }}" method="post">
        <p>
            <h3><center>Online Leaderboard</center></h3>
        </p>
        <p>
            <h4><center>Bekijk hier de scores van spelers over de hele wereld!</center></h4>
        </p>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        {% for i in scoreOnline %}
        <tbody></tbody>
            <tr>
                <td>{{ i.username }}</td>
                <td>{{ i.score }}</td>
                <td>{{ i.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}