{% extends "layout.html" %}

{% block title %}
  speelopties
{% endblock %}


{% block main %}
<a href="api?category=11&amount=10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Film</a>
<a href="api?category=12&amount=10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Muziek</a>
<a href="api?category=26&amount=10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Beroemdheden</a>
<a href="api?category=21&amount=10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sport</a>
<a href="api?category=15&amount=10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Games</a>

<a href="api?category=-1&amount=10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Quickplay</a>





{% endblock %}
