{% extends "layout.html" %}

{% block title %}
  Spelregels
{% endblock %}


{% block main %}

              <div class = "regels" ><h1>Spelregels <i>Brainwave</i></h1></div>
              <div class = "spelregels">

              <h3>Registreren</h3>

              <p>Als een bezoeker zich registreert is het mogelijk de score ten alle tijden in te zien.
              Daarnaast kan een geregistreerd lid spelen tegen vrienden en mensen over de hele wereld.
              Als je klaar bent voor een extra uitdaging, registreer je nu! Geen behoefte om je aan te melden?
              Als gast kan een bezoeker het trivia spel snel spelen.
              Dit is lekker makkelijk, maar de uitdaging om andere mensen te verslaan is een stuk kleiner. </p>

              <h3>Doel van het spel</h3>

              <p>Het doel van het spel is om zo veel mogelijk vragen goed te hebben.
              Als je een vraag goed hebt beantwoord wordt er een punt bij jouw score opgeteld. </p>

              <h3>Scorelijst</h3>

              <p>De scorelijst is via de homepagina te bekijken. Als gast is het alleen mogelijk de algemene scores in te zien.
              Je eigen score zie je alleen als je het spel net hebt gespeeld, maar is later niet terug te zien.
              Als lid kun je de algemene scores, lokale scores en de online scores altijd terug zien.
              Altijd handig als je wilt weten of je slimmer wordt door onze trivia!
              Daarnaast kun je een extra strijd aangaan met een vriend of iemand aan de andere kant van de wereld.
              Bijvoorbeeld door 10 potjes te spelen, dit hoeft niet direct achter elkaar.</p>

              <h3>Categorieën en Quick play</h3>

              <p>De speler kan kiezen tussen categorieën en quick play. Bij categorieën kan je zelf beslissen
              welke categorie je wilt spelen. De categorieën zijn: films, games, bekende personen, muziek en sport .
              Op deze manier kun je extra voordeel opdoen als een van de categorieën je goed ligt en het spel winnen!
              Bij de quick play worden er vragen uit een random categorie voor je gekozen,
              op deze manier blijft de strijd uitdagend, je weet nooit wat je voor je kiezen krijgt!</p>

              <h3>Einde van het spel</h3>

              <p>De trivia bestaat uit 10 vragen. Als alle vragen geweest zijn wordt je score weergegeven.
              Is jouw score hoger dan die van je tegenstander, dan heb je gewonnen! Wil je de strijd langer aangaan?
              Dan kan je een rematch doen, mits de tegenstander instemt.</p>

              <h3>Gelijkspel</h3>

              <p>Als de score van beide spelers even hoog zijn, zijn jullie erg aan elkaar gewaagd.
              Maar er kan er maar 1 de beste zijn! De winnaar wordt berekend door naar de tijd te kijken
              waarin diegene het spel heeft gespeeld. Goede antwoorden zijn belangrijk, maar vergeet de tijd niet!</p>
              </div>

{% endblock %}